<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">Luke-alike</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">Upload a Luke-alike</a>
      {% endif %}
      <link rel="stylesheet" type="text/css" href="slick-1.8.1/slick/slick.css"/>
      <link rel="stylesheet" type="text/css" href="slick-1.8.1/slick/slick-theme.css"/>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
			<h2>Fade</h2>
			<div class="slider fade slick-initialized slick-slider slick-dotted" role="toolbar"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
				<div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1680px;" role="listbox"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 560px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" tabindex="-1" role="option" aria-describedby="slick-slide90">
					<div class="image">
						<img src="https://joner125.github.io/LukeALike/uploads/slider/image1.jpg">
					</div>
				</div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 560px; position: relative; left: -560px; top: 0px; z-index: 998; opacity: 0;" tabindex="-1" role="option" aria-describedby="slick-slide91">
					<div class="image">
						<img src="https://joner125.github.io/LukeALike/uploads/slider/image2.jpg">
					</div>
				</div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 560px; position: relative; left: -1120px; top: 0px; z-index: 998; opacity: 0;" tabindex="-1" role="option" aria-describedby="slick-slide92">
					<div class="image">
						<img src="https://joner125.github.io/LukeALike/uploads/slider/image3.jpg">
					</div>
				</div></div></div>						
			<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation90" id="slick-slide90"><button type="button" data-role="none" role="button" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation91" id="slick-slide91"><button type="button" data-role="none" role="button" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation92" id="slick-slide92"><button type="button" data-role="none" role="button" tabindex="0">3</button></li></ul></div>
      <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script type="text/javascript" src="slick-1.8.1/slick/slick.min.js"></script>
      <script src="script.js"></script>
      <footer class="site-footer">
          <span class="site-footer-owner">Luke-alike is maintained by Secret Santa and was built for Dave.</span>
      </footer>
    </main>
  </body>
</html>
